.DS_Store
**/build/dspic33fj256gp710a_pim/
**/build/pic24fj128ga010_pim/
**/dist/dspic33fj256gp710a_pim/
**/dist/pic24fj128ga010_pim/
**/nbproject/private/
**/nbproject/Makefile-*.*
**/nbproject/*.bash
*.zip
/liblcdexplorer16.X/dist/dspic33fj256gp710a_pim_8bit/
/liblcdexplorer16.X/build/dspic33fj256gp710a_pim_4bit/
/liblcdexplorer16.X/dist/dspic33fj256gp710a_pim_4bit/
/liblcdexplorer16.X/build/pic24fj128ga010_pim_pmp/
/liblcdexplorer16.X/dist/pic24fj128ga010_pim_pmp/
/liblcdexplorer16.X/build/pic24fj128ga010_pim_no_pmp_8bit/
/liblcdexplorer16.X/dist/pic24fj128ga010_pim_no_pmp_8bit/
/liblcdexplorer16.X/build/pic24fj128ga010_pim_no_pmp_4bit/
/liblcdexplorer16.X/dist/pic24fj128ga010_pim_no_pmp_4bit/
/liblcdexplorer16.X/build/dspic33fj256gp710a_pim_8bit/